{% extends 'base.html' %}

{% block content %}

<section class="flex flex-col items-center justify-center content-center">
    {% for message in get_flashed_messages() %}
        <div class="text-red-700 rounded" role="alert">{{ message }}</div>
    {% endfor %}
    <div class="flex flex-col w-full max-w-xs justify-center items-center">
        <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
          <h1 class=" flex flex-col items-center text-gray-700 text-sm font-bold mb-2">Login</h1>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
              Username
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" name="username" type="text">
          </div>
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
              Password
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" name="password" type="password">
            <p class="text-red-500 text-xs italic">Please enter a password.</p>
          </div>
          <div class="flex flex-col items-center justify-between">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
              Sign In
            </button>
          </div>
        </form>
      </div>
</section>

{% endblock %}
