{% from "macros/navbar.html" import nav_link with context %}
<!doctype html>
<html>
<head>
    <link href="/static/output.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Journal</title>
</head>
<body>
    <nav class="flex justify-end py-8 mx-auto bg-white">
        <ul class="flex justify-end">
            {% if g.user %}
                <li class="mr-6"><span class="block text-gray-700 text-sm font-bold mb-2">{{ g.user['username'] }}</span></li>
                {{ nav_link('auth.logout', 'Logout') }}
            {% else %}
                {{ nav_link('auth.register', 'Register') }}
                {{ nav_link('auth.login', 'Login') }}
            {% endif %} 
          </ul>
      </nav>

      {% block content %}{% endblock %}

</body>
</html>